@font-face {
  font-family: "Muli";
  src: url("../fonts/Muli-Regular.woff2") format("woff2"), url("../fonts/Muli-Regular.woff") format("woff");
  font-style: normal; }
@font-face {
  font-family: "Muli";
  src: url("../fonts/Muli-SemiBold.woff2") format("woff2"), url("../fonts/Muli-SemiBold.woff") format("woff");
  font-weight: 500;
  font-style: normal; }
@font-face {
  font-family: "Muli";
  src: url("../fonts/Muli-Black.woff2") format("woff2"), url("../fonts/Muli-Black.woff") format("woff");
  font-weight: bold;
  font-style: normal; }
body {
  font-family: "Muli", "arial", sans-serif;
  background: #ffffff;
  margin: 0;
  padding: 0;
  background: #ffffff; }

.logo {
  width: 154px;
  height: 55px; }
  .logo__image {
    background: url("../img/logo_text.svg") no-repeat; }

.white-button {
  background: #ffffff;
  border: 1px solid #00AAE5;
  border-radius: 5px;
  font-size: 15px;
  font-weight: 500;
  padding: 0 39px 0;
  height: 44px;
  transition: 300ms;
  cursor: pointer; }
  .white-button:hover {
    background: #F5FBFE; }

.blue-button {
  background: linear-gradient(90deg, #74D5FF 35%, #00AAE5 60%);
  background-repeat: no-repeat;
  background-size: 300%;
  background-position: center;
  border: none;
  border-radius: 5px;
  font-size: 15px;
  font-weight: 500;
  padding: 0 39px 0;
  height: 44px;
  color: #ffffff;
  cursor: pointer;
  transition: background-position 300ms; }
  .blue-button:hover {
    background-position: 90%; }
  .blue-button:active {
    background-position: center; }
  .blue-button:active, .blue-button:focus {
    outline: none; }
  .blue-button--inactive {
    background: #D9E7EE;
    color: #8491A6;
    cursor: default;
    pointer-events: none; }

.heading-48, .heading-40, .heading-36 {
  margin: 0;
  padding: 0;
  color: #3A3A3A;
  font-weight: bold;
  letter-spacing: -0.5px; }

.heading-48 {
  font-size: 48px;
  line-height: 60px; }

.heading-40 {
  font-size: 40px;
  line-height: 49px; }
  @media (max-width: 1279px) {
    .heading-40 {
      font-size: 29px; } }
  @media (max-width: 767px) {
    .heading-40 {
      text-align: center;
      font-size: 24px;
      line-height: normal; } }

.heading-36 {
  font-size: 36px; }
  @media (max-width: 1279px) {
    .heading-36 {
      font-size: 30px; } }
  @media (max-width: 767px) {
    .heading-36 {
      font-size: 24px; } }

.grey-text {
  margin: 0;
  padding: 0;
  font-size: 18px;
  line-height: 32px;
  color: #8491A6; }
  @media (max-width: 1279px) {
    .grey-text {
      margin-top: 15px;
      width: 68%;
      line-height: 29px; } }
  @media (max-width: 767px) {
    .grey-text {
      font-size: 16px;
      width: 100%;
      line-height: 24px;
      margin-top: 27px; } }

.blog {
  background: #F5FBFE;
  width: 100%;
  padding-bottom: 148px; }
  .blog__container {
    box-sizing: border-box;
    max-width: 1440px;
    margin: 0 auto 0;
    display: flex;
    flex-flow: column nowrap;
    align-items: center; }
  .blog__title {
    font-weight: bold;
    display: block;
    max-width: 200px;
    margin: 140px auto 104px; }
    @media (max-width: 1279px) {
      .blog__title {
        margin: 101px auto 71px; } }
    @media (max-width: 767px) {
      .blog__title {
        margin: 68px auto 33px; } }
  .blog__blue-button {
    width: 203px;
    height: 60px; }
    @media (max-width: 1279px) {
      .blog__blue-button {
        width: 195px; } }
  .blog__item-wrapper {
    padding: 0 32px 0;
    margin-bottom: 83px;
    box-sizing: border-box;
    width: 100%;
    display: flex;
    justify-content: space-between; }
    @media (max-width: 767px) {
      .blog__item-wrapper {
        flex-flow: column nowrap;
        max-width: 500px;
        margin: auto; } }
    @media (max-width: 374px) {
      .blog__item-wrapper {
        padding: 0 20px 0; } }

.blog-item {
  box-sizing: border-box;
  width: 32%;
  max-width: 437px;
  min-height: 601px;
  border-radius: 11px;
  overflow: hidden;
  background: #ffffff;
  display: flex;
  flex-flow: column;
  transition: 300ms; }
  .blog-item:hover {
    box-shadow: 0px 10px 40px rgba(70, 151, 191, 0.1); }
  @media (max-width: 1279px) {
    .blog-item {
      width: 31%;
      min-height: 412px; }
      .blog-item:hover {
        box-shadow: none; } }
  @media (max-width: 767px) {
    .blog-item {
      width: 100%;
      max-width: 500px;
      margin-bottom: 20px; }
      .blog-item:hover {
        box-shadow: none; } }
  .blog-item__image {
    max-width: 100%; }
    .blog-item__image img {
      object-fit: cover;
      max-width: 100%;
      min-height: 314px; }
      @media (max-width: 1279px) {
        .blog-item__image img {
          min-height: 214px; } }
      @media (max-width: 767px) {
        .blog-item__image img {
          min-height: 201px; } }
  .blog-item__text-block {
    box-sizing: border-box;
    padding: 24px 32px 28px;
    display: flex;
    flex-flow: column nowrap;
    flex-grow: 1; }
    @media (max-width: 1279px) {
      .blog-item__text-block {
        padding: 11px 21px 28px; } }
    @media (max-width: 767px) {
      .blog-item__text-block {
        padding-top: 13px; } }
  .blog-item__date {
    font-size: 14px;
    line-height: 18px;
    color: #8491A6; }
    @media (max-width: 1279px) {
      .blog-item__date {
        font-size: 12px; } }
  .blog-item__title {
    margin: 0;
    padding: 0;
    margin-top: 5px;
    font-size: 20px;
    color: #3A3A3A; }
    @media (max-width: 1279px) {
      .blog-item__title {
        font-size: 16px;
        letter-spacing: -0.3px; } }
    @media (max-width: 767px) {
      .blog-item__title {
        margin-top: 6px; } }
  .blog-item__text {
    margin: 0;
    padding: 0;
    margin: 23px 0 20px;
    font-size: 16px;
    line-height: 28px;
    color: #8491A6; }
    @media (max-width: 1279px) {
      .blog-item__text {
        font-size: 14px;
        margin: 12px 0 13px;
        line-height: 23px; } }
    @media (max-width: 767px) {
      .blog-item__text {
        font-size: 14px;
        margin: 18px 0 23px;
        line-height: 24px; } }
  .blog-item__link {
    display: block;
    position: relative;
    align-self: flex-start;
    margin-top: auto;
    font-size: 16px;
    text-decoration: none;
    color: #00AAE5;
    padding-bottom: 4px;
    border-bottom: 1px solid #00AAE5; }
    .blog-item__link:after {
      position: absolute;
      content: "";
      display: block;
      width: 20px;
      height: 20px;
      background: url("../img/blue-arrow.svg") no-repeat;
      right: -32px;
      top: 28%;
      transition: 300ms; }
    .blog-item__link:hover:after {
      right: -35px; }
    @media (max-width: 1279px) {
      .blog-item__link {
        font-size: 14px;
        padding-bottom: 0; }
        .blog-item__link:after {
          background-size: 12px; } }

.clients {
  background: #ffffff;
  margin-top: 129px; }
  @media (max-width: 1279px) {
    .clients {
      margin-top: 57px; } }
  @media (max-width: 767px) {
    .clients {
      margin-top: 42px; } }
  .clients__container {
    box-sizing: border-box;
    max-width: 1440px;
    margin: 0 auto 0;
    display: flex;
    flex-flow: column nowrap; }
    @media (max-width: 767px) {
      .clients__container {
        padding: 0 20px; } }
  .clients__text-block {
    display: flex;
    flex-flow: column;
    align-items: center; }
  .clients__blue-title {
    text-transform: uppercase;
    font-size: 16px;
    color: #00AAE5;
    letter-spacing: 3px; }
  .clients__title {
    margin: 0;
    padding: 0;
    margin-top: 16px;
    letter-spacing: 0px; }
    @media (max-width: 1279px) {
      .clients__title {
        letter-spacing: 0.5px; } }
    @media (max-width: 767px) {
      .clients__title {
        width: 80%;
        margin-top: 21px; } }
  .clients__text {
    margin: 0;
    padding: 0;
    margin-top: 28px;
    width: 63%;
    line-height: 33px;
    font-size: 18px;
    color: #8491A6;
    text-align: center; }
    @media (max-width: 1279px) {
      .clients__text {
        margin-top: 15px;
        width: 68%;
        line-height: 29px; } }
    @media (max-width: 767px) {
      .clients__text {
        font-size: 16px;
        width: 100%;
        line-height: 24px;
        margin-top: 27px; } }
  .clients__tabs {
    padding: 0 32px 0;
    margin-top: 84px; }
    @media (max-width: 1279px) {
      .clients__tabs {
        margin-top: 73px; } }
    @media (max-width: 767px) {
      .clients__tabs {
        display: none; } }
  .clients__tabs-heads {
    padding-left: 0;
    margin: 0;
    list-style: none;
    display: flex;
    height: 112px;
    border: 1px solid #D9E7EE;
    border-radius: 5px;
    box-shadow: 0 0 0 transparent;
    transition: 300ms; }
    .clients__tabs-heads:focus, .clients__tabs-heads:active {
      outline: none !important; }
    @media (max-width: 1279px) {
      .clients__tabs-heads {
        height: 95px; } }
  .clients__tab-head {
    flex-basis: 25%;
    border-right: 1px solid #D9E7EE;
    display: flex; }
    .clients__tab-head:nth-child(4) {
      border: none; }
    .clients__tab-head:hover .clients__tab-head-image {
      border: 1px solid #00AAE5; }
    @media (max-width: 1279px) {
      .clients__tab-head {
        border-right: 0px solid #ffffff;
        border-left: 0px solid #ffffff; }
        .clients__tab-head--construction {
          flex-basis: 24%; }
        .clients__tab-head--govt {
          flex-basis: 23%; }
        .clients__tab-head--smallb {
          flex-grow: 1; }
          .clients__tab-head--smallb .clients__tab-head-image {
            margin-right: 10px; }
          .clients__tab-head--smallb .clients__tab-head-text {
            padding-left: 0;
            margin-right: 10px; }
        .clients__tab-head--hospitality {
          flex-basis: 23%; }
          .clients__tab-head--hospitality .clients__tab-head-text {
            margin-right: 6px; } }
  .clients__tab-head-link {
    flex-basis: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none; }
  .clients__tab-head-image {
    width: 56px;
    height: 56px;
    border: 1px solid #D9E7EE;
    border-radius: 50%;
    object-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 300ms; }
    @media (max-width: 991px) {
      .clients__tab-head-image {
        display: none; } }
  .clients__tab-head-svg {
    fill: #00AAE5;
    transition: 300ms; }
  .clients__tab-head-text {
    font-size: 16px;
    font-weight: 500;
    text-transform: uppercase;
    color: #8491A6;
    letter-spacing: 2px;
    padding-left: 15px; }
    @media (max-width: 1279px) {
      .clients__tab-head-text {
        font-size: 14px;
        letter-spacing: 1.5px;
        padding-left: 10px; } }
  .clients__tab-content {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    padding: 80px 20px 122px; }
    .clients__tab-content img {
      object-fit: scale-down;
      display: block;
      flex-basis: 20%;
      margin-bottom: 30px; }
    @media (max-width: 1279px) {
      .clients__tab-content {
        justify-content: center;
        padding: 42px 0 60px; }
        .clients__tab-content img {
          flex-basis: 15%;
          margin-right: 30px; } }
  .clients .ui-state-active {
    transition: 300ms;
    outline: none;
    box-shadow: 0px 10px 40px rgba(70, 151, 191, 0.2); }
    .clients .ui-state-active .clients__tab-head-image {
      border: 1px solid #00AAE5; }
    @media (max-width: 1279px) {
      .clients .ui-state-active {
        border-left: 1px solid #D9E7EE;
        border-right: 1px solid #D9E7EE;
        margin-left: -1px;
        margin-right: -1px; } }
  .clients .ui-tabs-tab:focus, .clients .ui-tabs-tab:active, .clients .ui-corner-top:focus, .clients .ui-corner-top:active, .clients .ui-state-default:focus, .clients .ui-state-default:active, .clients .ui-state-focus:focus, .clients .ui-state-focus:active, .clients .ui-tab:focus, .clients .ui-tab:active, .clients .ui-tabs-active:focus, .clients .ui-tabs-active:active, .clients .ui-state-active:focus, .clients .ui-state-active:active, .clients .ui-tabs-anchor:focus, .clients .ui-tabs-anchor:active {
    outline: none !important; }
  .clients__tabs-mobile {
    display: none; }
    @media (max-width: 767px) {
      .clients__tabs-mobile {
        padding-left: 0;
        margin: 0;
        list-style: none;
        margin: auto;
        margin-top: 31px;
        margin-bottom: 70px;
        width: 100%;
        max-width: 500px;
        display: flex;
        flex-flow: column nowrap;
        border: 1px solid #D9E7EE;
        border-radius: 12px; } }
    .clients__tabs-mobile li {
      border-top: 1px solid #D9E7EE; }
      .clients__tabs-mobile li:nth-child(1) {
        border-top: none; }
    .clients__tabs-mobile-title {
      display: flex;
      align-items: center;
      height: 80px;
      padding: 0 8% 0 4.5%;
      border-top: 1px solid #D9E7EE;
      cursor: pointer; }
      .clients__tabs-mobile-title--active {
        box-shadow: 0px 5px 20px rgba(70, 151, 191, 0.2); }
        .clients__tabs-mobile-title--active .clients__tabs-mobile-title-image {
          border: 1px solid #00AAE5; }
      .clients__tabs-mobile-title:nth-child(1) {
        border-top: none; }
      .clients__tabs-mobile-title-image {
        display: flex;
        justify-content: center;
        align-items: center;
        transition: 300ms;
        height: 50px;
        width: 50px;
        border: 1px solid #D9E7EE;
        border-radius: 50%; }
      .clients__tabs-mobile-title-text {
        min-width: 165px;
        font-size: 14px;
        font-weight: 500;
        text-transform: uppercase;
        color: #8491A6;
        letter-spacing: 0.6px;
        padding-left: 6%; }
    .clients__tabs-mobile-content {
      display: flex;
      flex-flow: row wrap; }
      .clients__tabs-mobile-content--hidden {
        display: none; }
    .clients__tabs-mobile-img-wrap {
      display: flex;
      justify-content: center;
      flex-flow: row wrap;
      padding: 17px;
      padding-bottom: 30px; }
      .clients__tabs-mobile-img-wrap img {
        display: block;
        flex-basis: 20%;
        margin: 0 5% 10px;
        width: 40%;
        object-fit: scale-down; }
  .clients__collapse-arrow {
    height: 10px;
    width: 10px;
    margin-left: auto;
    margin-bottom: 8px;
    border-right: 2px solid #00AAE5;
    border-bottom: 2px solid #00AAE5;
    transform: rotate(45deg);
    transition: 300ms; }
    .clients__collapse-arrow--open {
      transform: rotate(225deg);
      margin-bottom: -10px; }

.footer__upper-block {
  box-sizing: border-box;
  max-width: 1440px;
  margin: 0 auto 0;
  position: relative;
  padding: 40px 32px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center; }
  .footer__upper-block:after {
    display: block;
    position: absolute;
    content: "";
    background: #D9E7EE;
    height: 2px;
    left: 32px;
    right: 32px;
    bottom: 0px; }

.footer__lower-block {
  box-sizing: border-box;
  max-width: 1440px;
  margin: 0 auto 0;
  padding: 38px 32px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center; }

.footer {
  background: #F5FBFE; }
  .footer__menu {
    padding-left: 0;
    margin: 0;
    list-style: none;
    list-style: none;
    margin-right: 20px;
    width: 41%;
    display: flex;
    justify-content: space-between; }
  .footer__menu-item-link, .footer__phone-link {
    color: #8491A6;
    text-decoration: none;
    transition: 300ms; }
    .footer__menu-item-link:hover, .footer__phone-link:hover {
      color: #3A3A3A; }
  .footer__copyright {
    font-size: 14px;
    color: #8491A6; }
  .footer__phone-link {
    color: #3A3A3A;
    position: relative;
    padding-left: 30px; }
    .footer__phone-link::before {
      display: block;
      position: absolute;
      content: " ";
      background: url("../img/phone_icon.svg") no-repeat;
      height: 22px;
      width: 22px;
      top: -2px;
      left: -1px; }
      @media (max-width: 1439px) {
        .footer__phone-link::before {
          left: -14px; } }
  .footer__newsletter {
    width: 41%; }
  .footer__newsletter-form {
    display: flex;
    justify-content: space-between;
    align-items: center; }
  .footer__newsletter-title {
    margin-left: 27px;
    font-size: 14px;
    color: #8491A6;
    text-transform: uppercase;
    letter-spacing: 1px; }
  .footer__newsletter-email-block {
    box-sizing: border-box;
    width: 235px;
    padding: 8px;
    background: #ffffff;
    border-radius: 5px;
    display: flex; }
  .footer__newsletter-email {
    outline: none;
    color: #3A3A3A;
    border: none;
    font-size: 15px;
    padding-left: 5px; }
  .footer__newsletter-submit {
    position: relative;
    width: 32px;
    height: 32px;
    background: url("../img/white_arrow_right.svg"), linear-gradient(90deg, #74D5FF 0%, #00AAE5 100%);
    background-position: center;
    background-repeat: no-repeat;
    border: none;
    border-radius: 4px;
    margin-left: auto;
    transition: 300ms;
    left: 0; }
    .footer__newsletter-submit:hover {
      left: 5px; }
  .footer__social {
    width: 104px;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    justify-content: space-between; }

.form {
  background: linear-gradient(180deg, #F5FBFE 30%, #ffffff 100%);
  padding-bottom: 148px; }
  .form__text-block, .form__wrapper {
    max-width: 672px;
    width: 57%; }
  .form__image {
    margin-left: -23px;
    margin-top: 11px; }
    @media (max-width: 1439px) {
      .form__image {
        width: 40%;
        margin-left: -123px;
        margin-top: 111px; }
        .form__image img {
          width: 100%; } }
  .form__container {
    box-sizing: border-box;
    max-width: 1440px;
    margin: 0 auto 0;
    padding: 135px 102px 0px 151px;
    max-height: 750px;
    display: flex;
    flex-flow: column wrap; }
  .form__title {
    margin: 0;
    padding: 0; }
  .form__text {
    max-width: 530px;
    margin-top: 34px;
    font-size: 18px;
    color: #8491A6;
    line-height: 180%; }
  .form__form {
    margin-top: 67px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: flex-start; }
  .form input[type='text']:focus, .form input[type='email']:focus, .form textarea[name="info"]:focus {
    outline: none;
    border-bottom: 2px solid #00AAE5;
    margin-bottom: -1px; }
  .form__name-wrapper, .form__email-wrapper {
    position: relative;
    flex-basis: 47.5%;
    display: flex;
    flex-flow: column nowrap; }
  .form__label {
    color: #8491A6;
    position: absolute;
    top: 3px;
    left: 0px;
    pointer-events: none;
    font-size: 16px;
    transition: 300ms; }
    .form__label--info {
      top: 41px; }
  .form .label-shrink {
    font-size: 12px;
    top: -15px;
    left: 0px; }
  .form__name, .form__email {
    color: #3A3A3A;
    box-sizing: border-box;
    padding: 3px 0px 18px 0px;
    font-size: 17px;
    background: none;
    border: 0;
    border-bottom: 1px solid #D9E7EE;
    transition: 300ms; }
  .form__info-wrapper {
    position: relative;
    margin-top: 40px;
    flex-basis: 100%;
    display: flex;
    flex-flow: column nowrap; }
  .form__info {
    padding: 8px 0px 14px 0px;
    font-size: 17px;
    background: none;
    border: 0;
    border-bottom: 1px solid #D9E7EE; }
  .form__file-wrapper {
    margin-top: 41px;
    flex-basis: 47.5%;
    display: flex;
    flex-flow: column nowrap;
    position: relative;
    cursor: pointer; }
    .form__file-wrapper:hover .form__file-label {
      color: #3A3A3A; }
  .form__file {
    display: none;
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    z-index: 5; }
  .form__file-label {
    max-height: 60px;
    position: relative;
    box-sizing: content-box;
    display: flex;
    align-items: center;
    border: 4px dashed #D9E7EE;
    padding: 15px 15px 20px;
    border-radius: 4px;
    color: #8491A6;
    transition: 300ms;
    z-index: 1; }
    .form__file-label:after {
      content: "";
      position: absolute;
      top: -3px;
      left: -3px;
      right: -3px;
      bottom: -3px;
      background-color: #ffffff;
      border-radius: 3px;
      z-index: 2; }
    .form__file-label span {
      display: inline-block;
      height: 17px;
      z-index: 3; }
    .form__file-label .upload-icon {
      position: relative;
      top: 1px;
      height: 15px;
      margin-right: 13px;
      z-index: 3; }
    .form__file-label .upload-cancel-icon {
      display: none; }
    .form__file-label--uploaded {
      background: #F5FBFE;
      border: 4px solid #00AAE5;
      color: #3A3A3A; }
      .form__file-label--uploaded:after {
        background: #F5FBFE; }
      .form__file-label--uploaded .upload-icon {
        display: none; }
      .form__file-label--uploaded .upload-cancel-icon {
        margin-left: auto;
        display: inline-block;
        z-index: 5;
        cursor: pointer; }
  .form .dz-preview {
    display: none; }
  .form__input-error .form__label {
    color: #FF3A53; }
  .form__input-error input {
    border-bottom: 1px solid #FF3A53;
    color: #FF3A53; }
  .form__input-error textarea {
    border-bottom: 1px solid #FF3A53; }
  .form__submit {
    margin-top: 40px;
    height: 60px;
    padding: 8px;
    flex-basis: 100%;
    display: flex;
    justify-content: center;
    text-align: center; }

.gallery {
  width: 100%;
  background: #ffffff;
  padding-bottom: 146px;
  transition: 300ms; }
  .gallery__container {
    box-sizing: border-box;
    max-width: 1440px;
    margin: 0 auto 0;
    display: flex;
    flex-flow: column nowrap;
    align-items: center; }
  .gallery__title {
    margin-top: 150px; }
    @media (max-width: 1279px) {
      .gallery__title {
        margin-top: 100px; } }
    @media (max-width: 767px) {
      .gallery__title {
        margin-top: 64px; } }
  .gallery__text {
    margin-top: 28px;
    width: 63%;
    text-align: center; }
    @media (max-width: 1279px) {
      .gallery__text {
        margin-top: 17px;
        width: 65%; } }
    @media (max-width: 767px) {
      .gallery__text {
        margin-top: 30px;
        font-size: 14px;
        width: 89%;
        line-height: 25px; } }
  .gallery__images {
    width: 100%;
    box-sizing: border-box;
    padding: 0 32px 0;
    margin-top: 86px;
    line-height: 0; }
    @media (max-width: 1279px) {
      .gallery__images {
        margin-top: 17px; } }
    @media (max-width: 767px) {
      .gallery__images {
        padding: 0 20px 0;
        margin-top: 21px; } }
  .gallery .masonry-sizer {
    max-width: 15%;
    flex-basis: 15%; }
    @media (max-width: 1439px) {
      .gallery .masonry-sizer {
        flex-basis: 30%; } }
    @media (max-width: 767px) {
      .gallery .masonry-sizer {
        flex-basis: 50%; } }
  .gallery__image {
    border-radius: 12px;
    max-width: 23%;
    flex-basis: 23%;
    max-height: 500px;
    overflow: hidden;
    transition: 300ms;
    display: flex;
    justify-content: center; }
    .gallery__image:hover img {
      box-shadow: 0px 0px 20px 0px rgba(70, 151, 191, 0.2); }
    .gallery__image img {
      display: block;
      max-width: 90%;
      object-fit: cover;
      border-radius: 12px;
      margin-bottom: 16px;
      margin-top: 16px; }
    @media (max-width: 1279px) {
      .gallery__image:hover img {
        box-shadow: none; }
      .gallery__image img {
        width: 95%;
        max-width: 95%;
        object-fit: cover; } }
    @media (max-width: 991px) {
      .gallery__image {
        max-width: 30%;
        flex-basis: 30%; } }
    @media (max-width: 767px) {
      .gallery__image {
        max-width: 90%;
        width: 90%;
        flex-basis: 50%; }
        .gallery__image img {
          width: 95%;
          max-width: 95%;
          object-fit: cover; } }
  .gallery__blue-button {
    margin-top: 80px;
    width: 203px;
    height: 60px; }

.js-gallery-extra-hidden-block {
  display: none; }

.js-gallery-extra {
  opacity: 0;
  transition: 300ms; }

.header {
  width: 100%;
  display: flex;
  height: 120px;
  background: #ffffff;
  box-shadow: 0px 10px 40px rgba(70, 151, 191, 0.1); }
  .header__logo {
    margin-right: 3%; }

.header-menu {
  box-sizing: border-box;
  margin: 0 auto 0;
  padding: 32px 31px 0;
  display: flex;
  flex-basis: 100%;
  align-self: stretch;
  max-width: 1440px; }
  .header-menu__list {
    padding-left: 0;
    margin: 0;
    list-style: none;
    padding-top: 16px;
    margin-left: 2.5%;
    width: 100%;
    display: flex;
    justify-content: flex-start; }
    @media (max-width: 1439px) {
      .header-menu__list {
        margin-left: 1%; } }
  .header-menu__item-link {
    font-size: 16px;
    text-decoration: none;
    color: #8491A6; }
    .header-menu__item-link--dark-text {
      color: #3A3A3A;
      font-weight: 500; }
  .header-menu__item {
    display: flex;
    justify-content: center; }
    .header-menu__item--firm {
      flex-basis: 4.5%;
      margin-right: 2%; }
      .header-menu__item--firm a {
        width: 60px;
        margin: 0 -30px 0;
        text-align: center; }
    .header-menu__item--services {
      flex-basis: 9.3%;
      margin-right: 2.1%; }
    .header-menu__item--ssolutions {
      flex-basis: 12.5%;
      margin-right: 2.5%; }
      @media (max-width: 1439px) {
        .header-menu__item--ssolutions {
          flex-basis: 16.5%;
          margin-right: 1.5%; } }
    .header-menu__item--esolutions {
      flex-basis: 13.5%;
      margin-right: 2.1%; }
      @media (max-width: 1439px) {
        .header-menu__item--esolutions {
          flex-basis: 16.5%;
          margin-right: 1%; } }
    .header-menu__item--blog {
      flex-basis: 3%;
      margin-right: 2.1%; }
      @media (max-width: 1279px) {
        .header-menu__item--blog {
          display: none; } }
    .header-menu__item--contact-info {
      flex-basis: 12%;
      margin-right: 2.3%; }
      @media (max-width: 1279px) {
        .header-menu__item--contact-info {
          display: none; } }
    .header-menu__item--phone {
      position: relative;
      flex-basis: 14%;
      justify-content: flex-end; }
      .header-menu__item--phone::after {
        display: block;
        position: absolute;
        content: " ";
        background: url("../img/phone_icon.svg") no-repeat;
        height: 22px;
        width: 22px;
        top: -2px;
        left: -1px; }
        @media (max-width: 1439px) {
          .header-menu__item--phone::after {
            left: 3%; } }
      @media (max-width: 1439px) {
        .header-menu__item--phone {
          padding-left: 30px;
          flex-basis: 15%;
          justify-content: center; } }
    .header-menu__item--firm a, .header-menu__item--services a, .header-menu__item--ssolutions a, .header-menu__item--esolutions a {
      transition: 300ms;
      border: none; }
    .header-menu__item--firm:hover a, .header-menu__item--services:hover a, .header-menu__item--ssolutions:hover a, .header-menu__item--esolutions:hover a {
      border-bottom: 3px solid #00AAE5;
      color: #3A3A3A; }
    .header-menu__item--active {
      font-weight: 500;
      border-bottom: 3px solid #00AAE5 !important;
      color: #3A3A3A; }
  .header-menu__login-button {
    margin-top: 6px;
    margin-left: 2.8%;
    padding-bottom: 5px; }
    @media (max-width: 1279px) {
      .header-menu__login-button {
        display: none; } }
  .header-menu__search {
    box-sizing: border-box;
    position: relative;
    flex-basis: 15.5%;
    justify-content: flex-start;
    margin-right: 2%; }
    .header-menu__search::after {
      display: block;
      position: absolute;
      content: " ";
      background: url("../img/search_icon.svg") no-repeat;
      pointer-events: none;
      height: 22px;
      width: 22px;
      top: 1px;
      right: 20px;
      z-index: 1; }
    @media (max-width: 1439px) {
      .header-menu__search {
        margin-right: 0; } }
    @media (max-width: 1279px) {
      .header-menu__search {
        display: none; } }
    .header-menu__search input[type='text'] {
      box-sizing: border-box;
      padding-left: 5px;
      opacity: 0;
      background: #ffffff;
      height: 28px;
      width: 89%;
      font-size: 15px;
      margin-top: -3px;
      border: 1px solid #00AAE5;
      border-radius: 5px;
      transition: 300ms;
      z-index: 2; }
      .header-menu__search input[type='text']:active, .header-menu__search input[type='text']:focus {
        opacity: 1;
        outline: none; }
      .header-menu__search input[type='text']:active, .header-menu__search input[type='text']:focus {
        border: 2px solid #00AAE5; }

.index-slider {
  width: 100%; }
  .index-slider .swiper-pagination {
    bottom: 54px; }
    @media (max-width: 991px) {
      .index-slider .swiper-pagination {
        bottom: 661px; } }
    @media (max-width: 767px) {
      .index-slider .swiper-pagination {
        bottom: 559px; } }
    @media (max-width: 499px) {
      .index-slider .swiper-pagination {
        bottom: 463px; } }
    @media (max-width: 374px) {
      .index-slider .swiper-pagination {
        bottom: 420px; } }
    .index-slider .swiper-pagination .swiper-pagination-bullet {
      width: 12px;
      height: 12px;
      margin: 0 8px;
      background: #F5FBFE; }
    .index-slider .swiper-pagination .swiper-pagination-bullet {
      background: #00AAE5; }
  .index-slider__container {
    box-sizing: border-box;
    max-width: 1440px;
    margin: 0 auto 0;
    box-sizing: border-box;
    width: 100%;
    padding: 97px 10px 0; }
    @media (max-width: 1279px) {
      .index-slider__container {
        padding: 63px 10px 0; } }
    @media (max-width: 991px) {
      .index-slider__container {
        padding: 0; } }
  .index-slider__slide {
    height: 666px;
    width: 100%;
    padding: 40px 140px 200px;
    box-sizing: border-box;
    display: flex;
    flex-flow: column wrap; }
    @media (max-width: 1439px) {
      .index-slider__slide {
        padding: 40px 100px 200px; } }
    @media (max-width: 1279px) {
      .index-slider__slide {
        padding: 40px 22px 153px;
        height: 545px; } }
    @media (max-width: 991px) {
      .index-slider__slide {
        flex-flow: column nowrap;
        height: auto;
        padding: 48px 20px 70px; } }
  @media (max-width: 991px) {
    .index-slider__text-block {
      min-height: 225px; } }
  @media (max-width: 499px) {
    .index-slider__text-block {
      display: flex;
      flex-flow: column nowrap;
      justify-content: center;
      min-height: 275px; } }
  @media (max-width: 374px) {
    .index-slider__text-block {
      min-height: 355px; } }
  .index-slider__text-heading {
    letter-spacing: -1.5px; }
    @media (max-width: 1279px) {
      .index-slider__text-heading {
        font-size: 36px;
        letter-spacing: 0.1px;
        line-height: 45px; } }
    .index-slider__text-heading--slide-4 {
      margin-top: -48px; }
    .index-slider__text-heading--slide-5 {
      max-width: 425px; }
    @media (max-width: 991px) {
      .index-slider__text-heading {
        font-size: 28px;
        line-height: 35px;
        margin: 0 auto 0; } }
  .index-slider__text {
    margin-top: 38px;
    font-size: 18px;
    line-height: 32px;
    color: #8491A6; }
    .index-slider__text--slide-2 {
      max-width: 430px; }
      @media (max-width: 1279px) {
        .index-slider__text--slide-2 br {
          display: none; } }
    .index-slider__text--slide-3 {
      max-width: 345px; }
      @media (max-width: 1279px) {
        .index-slider__text--slide-3 br {
          display: none; } }
    .index-slider__text--slide-4 {
      max-width: 438px;
      margin-top: 25px; }
    .index-slider__text--slide-5 {
      max-width: 490px; }
    @media (max-width: 1279px) {
      .index-slider__text {
        margin-top: 27px;
        font-size: 16px;
        line-height: 29px; } }
    @media (max-width: 991px) {
      .index-slider__text {
        margin: 0 auto 0;
        line-height: 24px;
        margin-top: 28px; } }
  .index-slider__text-heading, .index-slider__text, .index-slider__buttons {
    max-width: 470px; }
    @media (max-width: 1279px) {
      .index-slider__text-heading, .index-slider__text, .index-slider__buttons {
        max-width: 415px; } }
    @media (max-width: 991px) {
      .index-slider__text-heading, .index-slider__text, .index-slider__buttons {
        width: 100%;
        max-width: 500px; } }
  .index-slider__svg {
    display: block; }
    .index-slider__svg--slide-1 {
      margin-top: -36px;
      margin-left: 10%; }
    .index-slider__svg--slide-2 {
      margin-top: -34px;
      margin-left: 47px; }
    .index-slider__svg--slide-3 {
      margin-right: -106px;
      margin-top: -31px; }
    .index-slider__svg--slide-4 {
      margin-left: 20px;
      margin-top: -4px; }
    .index-slider__svg--slide-5 {
      margin-top: 37px;
      margin-left: 128px; }
    @media (max-width: 1439px) {
      .index-slider__svg {
        width: 49%; }
        .index-slider__svg--slide-1, .index-slider__svg--slide-2, .index-slider__svg--slide-3, .index-slider__svg--slide-4, .index-slider__svg--slide-5 {
          margin: auto;
          margin-right: -6px;
          margin-top: 7px; } }
    @media (max-width: 991px) {
      .index-slider__svg {
        width: 500px;
        height: 450px;
        margin: auto;
        margin-top: 37px; } }
    @media (max-width: 767px) {
      .index-slider__svg {
        width: 400px;
        height: 350px; } }
    @media (max-width: 499px) {
      .index-slider__svg {
        width: 300px;
        height: 250px; } }
    @media (max-width: 374px) {
      .index-slider__svg {
        width: 280px;
        height: 200px; } }
  .index-slider__buttons {
    margin-top: auto;
    display: flex;
    align-items: center; }
    @media (max-width: 991px) {
      .index-slider__buttons {
        margin: 100px auto 0; } }
  .index-slider__blue-button {
    height: auto;
    font-size: 16px;
    padding: 21px 53px 21px;
    letter-spacing: 0.5px; }
    @media (max-width: 991px) {
      .index-slider__blue-button {
        width: 100%; } }
  .index-slider__arrow {
    display: none;
    background: none;
    border: none;
    cursor: pointer; }
    .index-slider__arrow--left {
      margin-left: 49px; }
    .index-slider__arrow--right {
      margin-left: 42px; }

.video {
  background: #F5FBFE; }
  .video__container {
    box-sizing: border-box;
    max-width: 1440px;
    margin: 0 auto 0;
    box-sizing: border-box;
    padding: 144px 149px;
    width: 100%;
    display: flex; }
    @media (max-width: 1439px) {
      .video__container {
        max-width: 1280px;
        padding: 100px 32px 100px; } }
    @media (max-width: 1279px) {
      .video__container {
        max-width: 1024px;
        padding: 100px 32px 100px; } }
    @media (max-width: 991px) {
      .video__container {
        flex-flow: column nowrap;
        padding: 65px 0 65px; } }
    @media (max-width: 767px) {
      .video__container {
        padding: 65px 20px 65px; } }
  .video__text-block {
    padding-top: 48px;
    margin-left: 7.5%;
    display: flex;
    flex-flow: column nowrap; }
    @media (max-width: 1439px) {
      .video__text-block {
        flex-basis: 40%; } }
    @media (max-width: 1279px) {
      .video__text-block {
        flex-basis: 41%;
        padding-top: 30px;
        margin-left: 8.5%; } }
    @media (max-width: 991px) {
      .video__text-block {
        width: 68%;
        margin-left: auto;
        margin-right: auto; } }
    @media (max-width: 767px) {
      .video__text-block {
        width: 100%; } }
  .video__title {
    letter-spacing: -1.5px; }
    @media (max-width: 1279px) {
      .video__title {
        line-height: 37px;
        letter-spacing: -0.5px; } }
    @media (max-width: 991px) {
      .video__title {
        display: none; } }
  .video__mobile-title {
    display: none; }
    @media (max-width: 991px) {
      .video__mobile-title {
        display: block;
        text-align: center;
        margin-bottom: 40px; }
        .video__mobile-title br {
          display: none; } }
    @media (max-width: 499px) {
      .video__mobile-title {
        text-align: left;
        max-width: 280px;
        width: 100%;
        margin: 0 auto 28px; }
        .video__mobile-title br {
          display: inline; } }
  .video__text {
    margin-top: 24px;
    font-size: 18px;
    line-height: 32px;
    color: #8491A6; }
    @media (max-width: 1279px) {
      .video__text {
        width: auto;
        margin-top: 18px;
        font-size: 18px;
        line-height: 29px; } }
    @media (max-width: 991px) {
      .video__text {
        text-align: center;
        margin: auto; } }
    @media (max-width: 767px) {
      .video__text {
        font-size: 16px;
        line-height: 24px; } }
    @media (max-width: 499px) {
      .video__text {
        text-align: left;
        max-width: 280px; } }
  .video__wrapper {
    border-radius: 10px; }
    @media (max-width: 1439px) {
      .video__wrapper {
        width: 50%; } }
  .video__video {
    position: relative;
    border-radius: 10px;
    min-width: 587px;
    height: 386px;
    background: url("../img/video_placeholder.png");
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0; }
    @media (max-width: 1439px) {
      .video__video {
        min-width: auto;
        flex-basis: 48.5%; } }
    @media (max-width: 1279px) {
      .video__video {
        flex-basis: 48.5%;
        min-width: auto;
        height: 330px; } }
    @media (max-width: 991px) {
      .video__video {
        flex-basis: auto;
        width: 500px;
        margin: auto; } }
    @media (max-width: 767px) {
      .video__video {
        background-size: cover;
        max-width: 500px;
        height: 300px;
        width: 100%;
        margin: auto;
        max-width: 500px; } }
    @media (max-width: 499px) {
      .video__video {
        height: 184px;
        width: 280px; } }
  .video__popup {
    width: 800px;
    position: relative;
    margin: auto; }
    .video__popup .mfp-close {
      color: #00AAE5;
      font-size: 50px; }
      @media (max-width: 499px) {
        .video__popup .mfp-close {
          top: 70px; } }
    @media (max-width: 991px) {
      .video__popup {
        width: 100%; } }
  .video__iframe {
    height: 500px;
    width: 700px;
    margin: auto;
    display: block; }
    @media (max-width: 991px) {
      .video__iframe {
        width: 90%; } }
  .video__play-button {
    display: block;
    background: #00AAE5;
    height: 72px;
    width: 72px;
    border-radius: 50%;
    position: relative;
    top: 0px;
    transition: 300ms; }
    .video__play-button::after {
      display: block;
      position: absolute;
      content: " ";
      left: 30px;
      top: 23px;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 13px 0 13px 18px;
      border-color: transparent transparent transparent #ffffff; }
    .video__play-button:hover {
      top: -2px; }
    @media (max-width: 1279px) {
      .video__play-button {
        height: 58px;
        width: 58px; }
        .video__play-button:after {
          left: 22px;
          top: 16px; } }
    @media (max-width: 767px) {
      .video__play-button {
        height: 50px;
        width: 50px; }
        .video__play-button:after {
          left: 21px;
          top: 17px;
          border-width: 8px 0 8px 13px; } }

/*# sourceMappingURL=styles.css.map */
