.index-slider
  width: 100%

  &__swiper-wrapper
    //overflow: hidden
  .swiper-pagination
    bottom: 54px
    display: flex
    justify-content: center
    align-items: center
    @include media('<huge')
      bottom: 120px
    @include media('<large')
      bottom: 54px
    @include media('<medium')
      bottom: 661px
    @include media('<small')
      bottom: 559px
    @include media('<smallish')
      bottom: 463px
      justify-content: flex-start
      padding-left: 6%
    @include media('<tinyish')
      bottom: 420px

    .swiper-pagination-bullet
      width: 12px
      height: 12px
      margin: 0 8px
      background: $blue
    .swiper-pagination-bullet-active
      background: $white
      height: 20px
      width: 20px


  &__container
    @include container
    box-sizing: border-box
    width: 100%
    //padding: 137px 78px 211px 149px
    padding: 97px 10px 0
    @include media('<large')
      padding: 63px 10px 0
    @include media('<medium')
      padding: 0
  &__slide
    height: 666px
    width: 100%
    padding: 40px 140px 200px
    box-sizing: border-box
    display: flex
    flex-flow: column wrap
    @include media('<huge')
      padding: 40px 100px 200px
    @include media('<large')
      padding: 40px 22px 153px
      height: 545px
    @include media('<medium')
      flex-flow: column nowrap
      height: auto
      padding: 48px 20px 70px

  &__text-block
    @include media('<medium')
      min-height: 225px
    @include media('<smallish')
      display: flex
      flex-flow: column nowrap
      justify-content: center
      min-height: 275px
    @include media('<tinyish')
      min-height: 355px

  &__text-heading
    letter-spacing: -1.5px
    @include media('<large')
      font-size: 36px
      letter-spacing: 0.1px
      line-height: 45px
    &--slide-4
      margin-top: -48px
    &--slide-5
      max-width: 425px
    @include media('<medium')
      font-size: 28px
      line-height: 35px
      margin: 0 auto 0
  &__text
    margin-top: 38px
    font-size: 18px
    line-height: 32px
    color: $grey
    &--slide-2
      max-width: 430px
      @include media('<large')
        br
          display: none
    &--slide-3
      max-width: 345px
      @include media('<large')
        br
          display: none
    &--slide-4
      max-width: 438px
      margin-top: 25px
    &--slide-5
      max-width: 490px
    @include media('<large')
      margin-top: 27px
      font-size: 16px
      line-height: 29px
    @include media('<medium')
      margin: 0 auto 0
      line-height: 24px
      margin-top: 28px
  &__text-heading, &__text, &__buttons
    max-width: 470px
    @include media('<large')
      max-width: 415px
    @include media('<medium')
      width: 100%
      max-width: 500px

  &__svg
    display: block
    &--slide-1
      margin-top: -36px
      margin-left: 10%
    &--slide-2
      margin-top: -34px
      margin-left: 47px
    &--slide-3
      margin-right: -106px
      margin-top: -31px
    &--slide-4
      margin-left: 20px
      margin-top: -4px
    &--slide-5
      margin-top: 37px
      margin-left: 128px
    @include media('<huge')
      width: 49%
      &--slide-1, &--slide-2, &--slide-3, &--slide-4, &--slide-5
        margin: auto
        margin-right: -6px
        margin-top: 7px
    @include media('<medium')
      width: 500px
      height: 450px
      margin: auto
      margin-top: 37px
    @include media('<small')
      width: 400px
      height: 350px
    @include media('<smallish')
      width: 300px
      height: 250px
    @include media('<tinyish')
      width: 280px
      height: 200px

  &__buttons
    margin-top: auto
    display: flex
    align-items: center
    @include media('<medium')
      margin: 100px auto 0
  &__blue-button
    height: auto
    font-size: 16px
    padding: 21px 53px 21px
    letter-spacing: 0.5px
    @include media('<medium')
      width: 100%
  &__arrow
    //hiding arrows for now
    display: none
    background: none
    border: none
    cursor: pointer
    &--left
      margin-left: 49px
    &--right
      margin-left: 42px
