.video
  background: $paleblue
  &__container
    @include container
    box-sizing: border-box
    padding: 144px 149px
    width: 100%
    display: flex
  &__text-block
    padding-top: 40px
    margin-left: 7.5%
    display: flex
    flex-flow: column nowrap
  &__wrapper
    border-radius: 10px
    @include media('<huge')
      width: 50%

  &__video
    position: relative
    border-radius: 20px
    min-width: 587px
    height: 386px
    background: url('../img/video_placeholder.png')
    display: flex
    justify-content: center
    align-items: center
    border: 0
    @include media('<huge')
      width: 100%

  &__popup
    width: 800px
    position: relative
    margin: auto
    .mfp-close
      color: $blue
      font-size: 50px
  &__iframe
    height: 500px
    width: 700px
    margin: auto
    display: block

  &__play-button
    display: block
    background: $blue
    height: 72px
    width: 72px
    border-radius: 50%
    position: relative
    top: 0px
    transition: 300ms
    &::after
      display: block
      position: absolute
      content: " "
      left: 30px
      top: 23px
      width: 0
      height: 0
      border-style: solid
      border-width: 13px 0 13px 18px
      border-color: transparent transparent transparent #ffffff
    &:hover
      top: -2px




  // &__title

  &__text
    margin-top: 24px
    font-size: 18px
    line-height: 32px
    color: $grey
