.blog
  background: $paleblue
  width: 100%
  padding-bottom: 148px

  &__container
    @include container
    display: flex
    flex-flow: column nowrap
    align-items: center

  &__title
    font-weight: bold
    display: block
    max-width: 200px
    margin: 140px auto 104px

  &__blue-button
    width: 203px

  &__item-wrapper
    padding: 0 32px 0
    margin-bottom: 83px
    box-sizing: border-box
    width: 100%
    display: flex
    justify-content: space-between
