.gallery
  width: 100%
  background: $white
  padding-bottom: 146px
  transition: 300ms

  &__container
    @include container
    display: flex
    flex-flow: column nowrap
    align-items: center

  &__title
    margin-top: 150px

  &__text
    margin-top: 28px
    width: 63%
    text-align: center

  &__images
    width: 100%
    box-sizing: border-box
    padding: 0 32px 0
    margin-top: 103px
    line-height: 0
    // display: flex
    // justify-content: center
    // column-count: 4
    // column-gap: 3%

  .masonry-sizer
    flex-basis: 20%
    @include media('<huge')
      flex-basis: 30%

  .masonry-gutter
    width: 2.1%
    display: block

  &__image
    display: block
    margin-bottom: 32px
    max-width: 320px
    flex-basis: 20%
    max-height: 400px
    border-radius: 12px
    overflow: hidden
    transition: 300ms
    @include media('<huge')
      max-width: 30%
      flex-basis: 30%
    &:hover
      box-shadow: 0px 10px 40px rgba(70, 151, 191, 0.2)
    img
      max-width: 100%
      object-fit: fill


  &__blue-button
    margin-top: 80px
    width: 203px
    height: 60px

.js-gallery-extra-hidden-block
  display: none

.js-gallery-extra
  opacity: 0
  transition: 300ms
